.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
	background:#00aaaa;	
}
.btn-default {
	background-color:#00aaaa;
}
.footerdivide {
	background:#00aaaa;
}
.buttoncolor {
	background:#00aaaa;
}
.grid figcaption {
	color:#00aaaa;
}
.grid figcaption a {	
	background:#00aaaa;
}
.colortext {
	color:#00aaaa;
}
.colorbg {
	background:#00aaaa;
}
 #Section-1 {
	background:#00aaaa;
}
 #Section-3 {
	background:#00aaaa;
}
 #Section-5 {
	background:#00aaaa;
}
 footer {
	background:#00aaaa;
}
.buttonyellow{
	background:#444;
}