.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
	background:#f54828;	
}
.btn-default {
	background-color:#f54828;
}
.footerdivide {
	background:#f54828;
}
.buttoncolor {
	background:#f54828;
}
.grid figcaption {
	color:#f54828;
}
.grid figcaption a {	
	background:#f54828;
}
.colortext {
	color:#f54828;
}
.colorbg {
	background:#f54828;
}
 #Section-1 {
	background:#f54828;
}
 #Section-3 {
	background:#f54828;
}
 #Section-5 {
	background:#f54828;
}
 footer {
	background:#f54828;
}
.buttonyellow{
	background:#444;
}